<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="LocalConnection" connectionString="Server=JABBAH\sqlexpress;Database=HadleyCapital;User Id=hadleycapitalservice;Password=hadleycapitalservice123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="JABBAH_SqliteDatabaseLocation" value="D:/Code/hadleycapitalmanagement/Data/Database.db"/>
    <add key="ALTAIR_SqliteDatabaseLocation" value="C:/Code/hadleycapitalmanagement/Data/Database.db"/>

    <add key="JABBAH_NorgateDataFilesLocation" value="D:\TradingData\Formatted\"/>
    <add key="ALTAIR_NorgateDataFilesLocation" value="C:\Trading Data\Extracted\"/>
  </appSettings>
</configuration>